

#container{
  margin: auto;
   max-width: 1000px;
   text-align: center;  border: 1px solid black;
}
.tapepanel{
  display: inline-block;
  min-width: 900px;
  max-width: 900px;
  min-height:30px;
  max-height:200px;
  overflow:auto;
  position: relative;
  padding-top: 5px;
}
.single_tape{
  display:block;
    position: relative;
min-height:40px;
max-height:40px;
line-height: 40px;
margin: auto;}
.tapename{
  display: table-cell;
  height:25px;
  max-height:25px;
  min-width: 50px;
  max-width: 50px;
  overflow:hide;
  text-align:center;
  line-height: 25px;
}
.tapecell{
display: table-cell;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
  min-width: 27px;
  height:29px;
  line-height: 27px;
  text-align:center;
  border-left: 1px solid blue;
  border-top: 1px solid blue;border-bottom: 1px solid blue;
}
.select_cell{
position: absolute;
min-width:30px;
border: 3px solid black;
background-color: rgba(0,0,0,0);
z-index: 1000;
}
.state_container{
  display: inline-block;
  border: 1px solid black;
  background-color: rgb(230,230,230);
  height:500px;
width:500px
}
#editor {margin:0px;
    display: inline-block;
    height:310px;border: 1px solid black;
  width:293px;
}
#sh{margin:0px;
 overflow:auto;
display: inline-block;
text-align: left;
font-size: 12px;
  height:80px;
width:293px;border: 1px solid black;
white-space: pre-line;
}
#editor_container {
  padding: 0px;margin:0px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  height:400px;
width:295px;
border: 1px solid black;
}
#info_panel{padding: 0px;margin:0px;
  position: relative;
  display: inline-block;
  vertical-align: top;
 height:500px;
width:400px;
}
#page_panel{
  display: inline-block;
  vertical-align: top;
 height:45px;
width:400px;
border: 1px solid black;
padding: 0px;
overflow: auto;
}
#library_panel{
  position: relative;
  display: inline-block;
  vertical-align: top;
  height:400px;
width:  98px;border: 1px solid black;
overflow: auto;
}
#control_panel{
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  height:30px;
width:400px;
margin-top: 10px;
}
